/******* Custom fonts *******/
@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins');
  font-weight: 700;
}


/******* Default CSS *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: white !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/******* Navbar CSS *******/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.3s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: white
}

nav.navbar a.navbar-brand {
    width: 10%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #9C428A !important;
  letter-spacing: 0.9px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.5;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    transform:scale(1.2,1.2);
    transition: 0.3s ease-in-out
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.social-icons {
    display: inline-block;
    margin-left: 14px;
}

.social-icons a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-icons a img {
	width: 100%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icons a:hover img {
	transform:scale(1.2,1.2);
}

.navbar-text button {
  font-weight: 700;
  color: #9C428A;
  border: 1px solid #9C428A;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 18px;
  margin-left: 6px;
	position: relative;
	background-color: transparent;
	transition: 0.2s ease-in-out;
}

.navbar-text button:hover {
  color: #fff;
  border: 1px solid #9C428A;
  background: #9C428A;
  box-shadow: inset 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

nav.custom-navbar .navbar-toggler:active,
nav.custom-navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* line 1 and 2 of burger icon */
nav.custom-navbar .navbar-toggler-icon:after,
nav.custom-navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #9C428A;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
nav.custom-navbar .navbar-toggler-icon:after {
  top: 8px;
}

/* line 3 of burger icon */
nav.custom-navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #9C428A;
  transition: all 300ms linear;
  top: -2px;
}


/************ About Me Css ************/
.aboutme {
  margin-top: 0;
  background-color: white;
  display: flex; 
  align-items: center;
}

.aboutme h1 {
  font-size: 65px;
  font-family: Poppins, sans-serif !important;
  font-weight: 600;
  font-size: 70px;
  line-height: 110%;
  letter-spacing: 4px;
  margin-top: 10px;
  background: linear-gradient(91.44deg, #730072 -0.27%, rgba(194, 120, 102, 0.58) 32.69%, #FFD45E 77.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 1px;
  word-break: break-word;

}

.aboutme p {
  color: #B8B8B8;
  margin-bottom: 500px;
  top: 400px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 150%;
  width: 96%;
}

.aboutme .description {
  margin-top: 20px; /* Adjust the margin-top value as needed */
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .aboutme .tagline {
    font-size: 16px;
    margin-bottom: 8px; /* Add margin at the bottom of the tagline */
  }

  .aboutme h1 {
    font-size: 40px;
    margin-bottom: 16px; /* Add margin at the bottom of the h1 */
  }

  .aboutme .profilepicture {
    margin-top: 16px; /* Add margin at the top of the image */
  }
}

@media (max-width: 576px) {
  .aboutme .tagline {
    font-size: 14px;
    margin-bottom: 8px; /* Add margin at the bottom of the tagline */
  }

  .aboutme h1 {
    font-size: 32px;
    margin-bottom: 16px; /* Add margin at the bottom of the h1 */
    padding-left: 10px
  }

  .aboutme .profilepicture {
    margin-top: 16px; /* Add margin at the top of the image */
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }

  .heading {
    width: 100%;
  }
}


.aboutme .profilepicture {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.heading-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.heading {
  max-width: 100%;
  height: auto;
  width: 50%;
}

/************ Home Page Css ************/

.banner {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; 
  position: relative;
}

.tagline {
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
}

@keyframes glowing {
  0% {
    background-color: #730072;
    box-shadow: 0 0 3px #730072;
  }
  50% {
    background-color: #9C428A;
    box-shadow: 0 0 10px #9C428A;
  }
  100% {
    background-color: #730072;
    box-shadow: 0 0 3px #730072
  }
}

.tagline {
        animation: glowing 1300ms infinite;
      }

.tagline-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

@media (max-width: 768px) {
  /* Adjust button size for screens smaller than or equal to 768px */
  .tagline {
    font-size: 16px;
    padding: 8px 20px;
  }
}

@media (max-width: 576px) {
  /* Adjust button size for screens smaller than or equal to 768px */
  .tagline {
    font-size: 14px;
    padding: 6px 16px;
  }
}